.services{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}
.service {
    background-color: #fff;
    padding: 20px;
    width: 25%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.service-icon{
    color: var(--main-color);
    font-size: 22px;
}
.service span{
    font-size: 20px;
    color: gray;
}