.title{
    text-align: center;
    font-size: 35px;
    color: var(--main-color);
}
.features{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.feature{
    text-align: center;
    width: 22%;
    padding: 10px;
    background-color: #fff;
}
.feature img{
    width: 200px;
    height: 200px;
    transition: 0.5s;
    cursor: pointer;
}
.feature  > * {
    margin-bottom: 20px;
}
.feature img:hover{
    transform: scale(1.1);
}
.feature h2{
    color: var(--main-color);
}
.feature h3 span{
    margin-left: 20px;
    text-decoration: line-through;
    color: gray;

}
.stars{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.star-icon{
    color: gold;
}
.feature-control{
    display: flex;
    justify-content: space-between;
}
.feature-control button{
    border: none;
    background-color: var(--main-color);
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 5px;
    
}
.control-icon{
    font-size: 20px;
}